.tab-list {
  border-bottom: 3px solid #ccc;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 320px;
}

.tab-list-active {
  background-color:white;
  border: solid #ccc;
  border-width: 5px 5px 0 5px;
  font-weight: bold;
  font-size: larger;
}